.property-details-container {
  background: rgba(255, 255, 255, 0.9);
  width: 50%;
  margin: 50px auto;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  text-align: center;
}

.property-image {
  width: 100%;
  max-height: 300px;
  object-fit: cover;
  margin-bottom: 20px;
  border-radius: 10px;
}

.back-link {
  display: inline-block;
  margin-top: 15px;
  color:#007bff;
  text-decoration: none;
}
